SMS Spam Classification

Natural Language Processing Using Machine Learning

In [8]:
#Loading the libraries
import pandas as pd
import numpy as np

In [9]:
#Reading the csv file
messages = pd.read_csv('C://Users/thdar/Downloads/spam.csv',encoding='latin')

#Specifying the names of the columns while reading csv file (tsv--tab separated values)

In [10]:
messages

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

### Exploratory Data Analysis

In [11]:
#Info about the data
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [12]:
#Finding missing values
messages.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [13]:
#Target variables counts
messages['v1'].value_counts()

#Data is imbalanced but for now we will continue with this

v1
ham     4825
spam     747
Name: count, dtype: int64

## Data Preprocessing

 renaming the columns

In [14]:
messages = messages.rename({'v1':'label', 'v2':'message'},axis='columns')
messages

,label,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [15]:
data = messages.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1)
data

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [16]:
#Calculating length of message
mes_len=0
length=[]
for i in range(len(data)):
    length.append(len(data['message'][i]))

In [17]:
length

[111,
 29,
 155,
 49,
 61,
 148,
 77,
 160,
 158,
 154,
 109,
 136,
 156,
 196,
 35,
 149,
 26,
 81,
 58,
 156,
 41,
 49,
 53,
 88,
 57,
 144,
 30,
 134,
 75,
 64,
 130,
 189,
 29,
 84,
 159,
 123,
 47,
 28,
 27,
 155,
 82,
 142,
 172,
 19,
 72,
 32,
 45,
 31,
 67,
 148,
 58,
 124,
 80,
 291,
 120,
 76,
 161,
 34,
 22,
 40,
 108,
 48,
 25,
 56,
 110,
 153,
 124,
 161,
 80,
 34,
 46,
 29,
 45,
 42,
 20,
 43,
 73,
 50,
 42,
 76,
 22,
 32,
 32,
 36,
 14,
 55,
 121,
 144,
 42,
 41,
 62,
 195,
 141,
 139,
 107,
 125,
 33,
 51,
 184,
 57,
 81,
 76,
 160,
 183,
 44,
 95,
 43,
 82,
 115,
 30,
 40,
 31,
 96,
 159,
 143,
 156,
 153,
 72,
 86,
 144,
 157,
 53,
 156,
 52,
 40,
 20,
 244,
 22,
 107,
 28,
 9,
 39,
 25,
 126,
 162,
 38,
 34,
 46,
 155,
 86,
 33,
 27,
 158,
 42,
 25,
 48,
 159,
 84,
 33,
 30,
 45,
 59,
 25,
 160,
 384,
 28,
 27,
 157,
 124,
 146,
 115,
 64,
 85,
 152,
 155,
 51,
 157,
 74,
 67,
 59,
 50,
 94,
 33,
 105,
 61,
 65,
 26,
 146,
 66,
 126,
 159,
 23,
 65,
 24,
 26,
 152,
 34,
 149,
 55,
 88,
 72,
 185,
 37,
 111,
 92,
 28,
 28,
 64,
 131,
 40,
 28,
 84,
 174,
 24,
 25,
 64,
 156,
 28,
 86,
 39,
 73,
 26,
 23,
 24,
 31,
 58,
 48,
 41,
 32,
 159,
 25,
 161,
 22,
 119,
 143,
 69,
 137,
 30,
 165,
 34,
 109,
 37,
 33,
 48,
 157,
 50,
 65,
 38,
 145,
 145,
 51,
 45,
 83,
 155,
 37,
 78,
 30,
 31,
 146,
 150,
 44,
 179,
 27,
 179,
 38,
 97,
 43,
 36,
 154,
 74,
 3,
 85,
 51,
 121,
 26,
 35,
 47,
 159,
 47,
 133,
 53,
 147,
 155,
 37,
 31,
 8,
 38,
 30,
 47,
 56,
 22,
 19,
 29,
 7,
 121,
 58,
 4,
 148,
 160,
 152,
 37,
 55,
 21,
 22,
 50,
 159,
 67,
 153,
 51,
 67,
 88,
 157,
 91,
 24,
 146,
 57,
 26,
 71,
 138,
 55,
 156,
 134,
 119,
 142,
 41,
 26,
 119,
 46,
 157,
 23,
 51,
 62,
 107,
 157,
 30,
 32,
 31,
 79,
 32,
 86,
 22,
 76,
 128,
 232,
 159,
 45,
 57,
 26,
 22,
 41,
 28,
 151,
 29,
 34,
 52,
 33,
 85,
 31,
 111,
 78,
 50,
 63,
 148,
 129,
 45,
 202,
 150,
 148,
 168,
 85,
 38,
 15,
 31,
 88,
 160,
 50,
 165,
 129,
 26,
 31,
 129,
 34,
 54,
 162,
 157,
 23,
 53,
 131,
 36,
 143,
 300,
 59,
 42,
 41,
 149,
 22,
 31,
 30,
 155,
 47,
 25,
 80,
 22,
 115,
 56,
 102,
 118,
 221,
 204,
 114,
 158,
 39,
 36,
 48,
 77,
 60,
 168,
 51,
 22,
 152,
 75,
 30,
 95,
 24,
 49,
 35,
 29,
 107,
 66,
 159,
 48,
 162,
 24,
 137,
 248,
 25,
 27,
 37,
 69,
 150,
 24,
 80,
 157,
 25,
 73,
 89,
 58,
 36,
 76,
 47,
 104,
 38,
 69,
 22,
 66,
 94,
 70,
 73,
 42,
 17,
 13,
 45,
 57,
 105,
 164,
 47,
 117,
 158,
 79,
 142,
 62,
 71,
 175,
 29,
 29,
 148,
 83,
 37,
 44,
 45,
 161,
 50,
 298,
 159,
 125,
 51,
 28,
 34,
 46,
 81,
 28,
 90,
 18,
 54,
 55,
 45,
 146,
 40,
 107,
 50,
 120,
 160,
 32,
 34,
 32,
 16,
 67,
 55,
 43,
 23,
 149,
 21,
 23,
 40,
 170,
 117,
 62,
 166,
 24,
 136,
 99,
 45,
 23,
 25,
 148,
 26,
 146,
 89,
 168,
 117,
 46,
 26,
 28,
 32,
 145,
 57,
 160,
 42,
 111,
 36,
 146,
 50,
 33,
 15,
 177,
 160,
 63,
 84,
 84,
 57,
 96,
 169,
 76,
 47,
 130,
 23,
 149,
 32,
 22,
 101,
 281,
 54,
 120,
 138,
 135,
 66,
 40,
 40,
 70,
 160,
 26,
 32,
 51,
 160,
 146,
 103,
 45,
 142,
 92,
 26,
 134,
 37,
 22,
 22,
 33,
 69,
 109,
 36,
 100,
 140,
 51,
 46,
 149,
 63,
 95,
 69,
 110,
 55,
 27,
 34,
 127,
 142,
 148,
 24,
 147,
 24,
 29,
 86,
 87,
 38,
 104,
 59,
 38,
 38,
 22,
 25,
 135,
 87,
 19,
 66,
 140,
 156,
 22,
 107,
 65,
 149,
 137,
 25,
 60,
 103,
 37,
 58,
 87,
 58,
 123,
 67,
 66,
 102,
 130,
 150,
 35,
 8,
 62,
 58,
 143,
 20,
 100,
 51,
 36,
 53,
 88,
 133,
 36,
 37,
 127,
 92,
 80,
 136,
 35,
 97,
 66,
 119,
 65,
 26,
 28,
 45,
 157,
 36,
 94,
 59,
 140,
 22,
 57,
 43,
 61,
 56,
 54,
 37,
 25,
 21,
 36,
 42,
 154,
 153,
 46,
 34,
 80,
 69,
 24,
 108,
 46,
 30,
 22,
 158,
 87,
 30,
 143,
 169,
 42,
 111,
 18,
 109,
 76,
 73,
 92,
 36,
 54,
 78,
 30,
 40,
 29,
 22,
 77,
 109,
 75,
 76,
 30,
 49,
 155,
 160,
 269,
 195,
 37,
 125,
 48,
 39,
 163,
 121,
 147,
 162,
 29,
 38,
 25,
 40,
 226,
 70,
 140,
 47,
 63,
 17,
 101,
 41,
 80,
 137,
 103,
 29,
 51,
 149,
 25,
 149,
 38,
 62,
 181,
 34,
 47,
 40,
 110,
 132,
 101,
 42,
 102,
 65,
 27,
 31,
 82,
 23,
 59,
 133,
 33,
 95,
 96,
 135,
 161,
 151,
 75,
 151,
 103,
 22,
 51,
 137,
 58,
 89,
 81,
 57,
 26,
 32,
 145,
 122,
 143,
 23,
 136,
 94,
 8,
 99,
 65,
 71,
 117,
 129,
 158,
 28,
 150,
 31,
 72,
 70,
 94,
 48,
 160,
 98,
 31,
 43,
 154,
 71,
 162,
 143,
 25,
 22,
 48,
 33,
 44,
 47,
 26,
 112,
 150,
 19,
 133,
 48,
 107,
 38,
 27,
 129,
 131,
 23,
 156,
 161,
 25,
 42,
 27,
 22,
 98,
 89,
 147,
 130,
 152,
 215,
 26,
 66,
 149,
 372,
 155,
 162,
 82,
 73,
 76,
 153,
 24,
 231,
 87,
 72,
 105,
 160,
 54,
 58,
 54,
 118,
 88,
 144,
 29,
 136,
 23,
 39,
 35,
 24,
 95,
 73,
 45,
 161,
 159,
 149,
 134,
 154,
 92,
 102,
 31,
 77,
 139,
 158,
 44,
 137,
 132,
 143,
 127,
 276,
 78,
 27,
 79,
 24,
 52,
 68,
 24,
 44,
 24,
 55,
 62,
 104,
 87,
 150,
 49,
 154,
 56,
 125,
 126,
 43,
 77,
 49,
 84,
 49,
 162,
 79,
 31,
 155,
 146,
 23,
 160,
 62,
 39,
 67,
 73,
 148,
 88,
 37,
 23,
 56,
 53,
 73,
 80,
 44,
 92,
 35,
 23,
 140,
 106,
 103,
 34,
 77,
 159,
 26,
 47,
 24,
 149,
 133,
 126,
 78,
 132,
 116,
 221,
 59,
 137,
 143,
 24,
 38,
 42,
 24,
 159,
 47,
 41,
 122,
 126,
 26,
 114,
 7,
 34,
 157,
 92,
 90,
 22,
 85,
 63,
 220,
 41,
 60,
 88,
 31,
 37,
 28,
 24,
 118,
 22,
 210,
 50,
 49,
 87,
 61,
 141,
 54,
 28,
 49,
 53,
 145,
 162,
 53,
 12,
 142,
 73,
 129,
 33,
 47,
 72,
 148,
 107,
 41,
 ...]

In [18]:
#Adding Length column to the dataframe
data['Length']=length

In [19]:
data.head()

  label                                            message  Length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [20]:
import string
count=0
punct=[]
for i in range(len(data)):
    for j in messages['message'][i]:
        if j in string.punctuation:
            count+=1
    #print(count)
    punct.append(count)
    count=0

In [21]:
punct

[9,
 6,
 6,
 6,
 2,
 8,
 2,
 6,
 6,
 2,
 6,
 8,
 8,
 4,
 2,
 11,
 6,
 5,
 1,
 8,
 1,
 0,
 7,
 3,
 2,
 7,
 1,
 6,
 7,
 4,
 4,
 7,
 1,
 1,
 2,
 7,
 3,
 0,
 6,
 7,
 3,
 15,
 5,
 1,
 10,
 4,
 2,
 2,
 2,
 7,
 2,
 11,
 1,
 16,
 5,
 6,
 12,
 3,
 0,
 3,
 5,
 2,
 0,
 2,
 2,
 3,
 10,
 10,
 7,
 1,
 9,
 1,
 1,
 6,
 3,
 2,
 2,
 3,
 5,
 4,
 2,
 2,
 0,
 0,
 1,
 5,
 4,
 4,
 1,
 5,
 3,
 5,
 2,
 2,
 3,
 6,
 3,
 1,
 9,
 3,
 2,
 3,
 6,
 8,
 0,
 2,
 2,
 1,
 6,
 3,
 1,
 2,
 4,
 6,
 15,
 13,
 7,
 4,
 6,
 3,
 6,
 3,
 2,
 1,
 3,
 2,
 9,
 1,
 4,
 5,
 2,
 3,
 1,
 5,
 8,
 4,
 1,
 1,
 4,
 13,
 2,
 2,
 11,
 2,
 0,
 1,
 7,
 3,
 3,
 2,
 3,
 1,
 6,
 6,
 16,
 1,
 4,
 8,
 2,
 3,
 1,
 5,
 5,
 13,
 6,
 1,
 5,
 3,
 2,
 5,
 2,
 12,
 1,
 6,
 7,
 1,
 1,
 14,
 1,
 5,
 3,
 2,
 2,
 2,
 1,
 7,
 1,
 2,
 1,
 5,
 5,
 8,
 4,
 2,
 3,
 0,
 0,
 2,
 5,
 8,
 5,
 0,
 16,
 1,
 1,
 3,
 13,
 1,
 4,
 3,
 4,
 0,
 7,
 7,
 2,
 1,
 3,
 3,
 0,
 5,
 2,
 5,
 2,
 6,
 11,
 2,
 6,
 1,
 12,
 0,
 7,
 0,
 2,
 4,
 8,
 6,
 0,
 2,
 14,
 3,
 1,
 0,
 5,
 9,
 2,
 3,
 0,
 1,
 5,
 3,
 0,
 11,
 2,
 3,
 3,
 2,
 3,
 4,
 4,
 5,
 0,
 4,
 3,
 0,
 1,
 1,
 1,
 7,
 3,
 3,
 2,
 3,
 7,
 1,
 2,
 3,
 0,
 2,
 2,
 3,
 1,
 1,
 1,
 3,
 3,
 1,
 2,
 1,
 14,
 7,
 1,
 2,
 2,
 0,
 2,
 8,
 1,
 11,
 1,
 3,
 2,
 5,
 2,
 0,
 15,
 9,
 1,
 3,
 6,
 2,
 3,
 10,
 3,
 6,
 2,
 4,
 14,
 4,
 4,
 4,
 3,
 6,
 2,
 6,
 2,
 4,
 3,
 4,
 2,
 3,
 5,
 4,
 4,
 4,
 7,
 4,
 2,
 2,
 2,
 4,
 2,
 4,
 1,
 1,
 1,
 7,
 4,
 1,
 8,
 2,
 3,
 2,
 7,
 1,
 7,
 7,
 3,
 9,
 10,
 5,
 7,
 2,
 1,
 5,
 8,
 2,
 11,
 6,
 2,
 2,
 9,
 2,
 8,
 1,
 3,
 0,
 6,
 3,
 0,
 5,
 14,
 1,
 5,
 4,
 4,
 0,
 1,
 0,
 4,
 3,
 4,
 2,
 1,
 2,
 3,
 3,
 4,
 6,
 11,
 11,
 3,
 1,
 1,
 1,
 6,
 1,
 6,
 3,
 0,
 9,
 0,
 0,
 12,
 1,
 1,
 1,
 0,
 5,
 3,
 3,
 4,
 2,
 3,
 4,
 30,
 3,
 4,
 1,
 5,
 17,
 1,
 0,
 2,
 1,
 9,
 17,
 2,
 0,
 3,
 2,
 8,
 4,
 9,
 2,
 2,
 6,
 6,
 3,
 4,
 3,
 1,
 0,
 6,
 2,
 9,
 2,
 3,
 3,
 6,
 3,
 1,
 2,
 8,
 2,
 0,
 11,
 2,
 1,
 4,
 2,
 5,
 2,
 18,
 7,
 10,
 1,
 4,
 3,
 3,
 2,
 1,
 3,
 3,
 4,
 0,
 1,
 4,
 1,
 4,
 2,
 2,
 12,
 2,
 6,
 2,
 4,
 6,
 2,
 2,
 0,
 4,
 2,
 1,
 5,
 7,
 5,
 2,
 12,
 2,
 12,
 2,
 8,
 2,
 4,
 7,
 3,
 7,
 5,
 5,
 3,
 2,
 0,
 0,
 3,
 10,
 4,
 10,
 2,
 1,
 2,
 8,
 7,
 7,
 4,
 6,
 5,
 4,
 2,
 2,
 2,
 6,
 15,
 4,
 2,
 3,
 1,
 3,
 1,
 7,
 4,
 9,
 3,
 2,
 4,
 1,
 2,
 4,
 1,
 4,
 19,
 5,
 4,
 3,
 6,
 16,
 2,
 2,
 7,
 3,
 1,
 9,
 0,
 1,
 1,
 3,
 6,
 5,
 2,
 2,
 5,
 4,
 0,
 0,
 3,
 4,
 1,
 12,
 4,
 0,
 2,
 11,
 7,
 9,
 1,
 9,
 2,
 0,
 2,
 3,
 3,
 8,
 4,
 1,
 1,
 3,
 0,
 8,
 0,
 3,
 4,
 2,
 9,
 0,
 1,
 3,
 8,
 4,
 2,
 7,
 3,
 5,
 5,
 1,
 4,
 3,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 13,
 3,
 3,
 6,
 2,
 1,
 3,
 7,
 0,
 3,
 3,
 8,
 2,
 9,
 2,
 11,
 4,
 6,
 3,
 1,
 0,
 1,
 4,
 0,
 3,
 0,
 11,
 2,
 7,
 9,
 3,
 4,
 1,
 6,
 1,
 1,
 2,
 3,
 3,
 7,
 8,
 3,
 4,
 8,
 1,
 6,
 4,
 2,
 1,
 9,
 3,
 3,
 4,
 6,
 2,
 3,
 1,
 8,
 3,
 2,
 1,
 2,
 3,
 2,
 4,
 4,
 2,
 2,
 0,
 6,
 7,
 2,
 0,
 6,
 6,
 6,
 12,
 0,
 1,
 3,
 2,
 1,
 7,
 9,
 2,
 4,
 1,
 4,
 1,
 0,
 10,
 5,
 13,
 1,
 2,
 1,
 4,
 3,
 2,
 4,
 3,
 0,
 2,
 9,
 1,
 7,
 2,
 4,
 8,
 2,
 2,
 2,
 5,
 1,
 2,
 1,
 3,
 1,
 0,
 0,
 6,
 1,
 2,
 5,
 0,
 4,
 5,
 6,
 5,
 12,
 6,
 5,
 10,
 2,
 1,
 6,
 1,
 5,
 1,
 6,
 2,
 1,
 2,
 6,
 3,
 0,
 12,
 11,
 1,
 2,
 1,
 3,
 3,
 5,
 6,
 0,
 4,
 3,
 11,
 3,
 6,
 2,
 8,
 4,
 1,
 9,
 9,
 7,
 7,
 4,
 2,
 0,
 2,
 2,
 0,
 4,
 10,
 4,
 3,
 1,
 5,
 6,
 4,
 0,
 0,
 10,
 9,
 0,
 10,
 5,
 1,
 10,
 2,
 2,
 6,
 3,
 6,
 1,
 13,
 8,
 2,
 14,
 0,
 13,
 0,
 7,
 0,
 3,
 3,
 6,
 4,
 10,
 3,
 8,
 4,
 10,
 2,
 5,
 1,
 7,
 5,
 4,
 1,
 7,
 1,
 0,
 2,
 0,
 4,
 1,
 0,
 4,
 2,
 9,
 4,
 4,
 2,
 8,
 1,
 3,
 19,
 7,
 1,
 5,
 3,
 5,
 9,
 9,
 5,
 0,
 1,
 1,
 2,
 5,
 0,
 1,
 1,
 4,
 7,
 5,
 7,
 10,
 1,
 7,
 4,
 6,
 2,
 2,
 2,
 4,
 2,
 2,
 6,
 2,
 0,
 11,
 4,
 1,
 11,
 2,
 2,
 0,
 1,
 11,
 2,
 1,
 0,
 2,
 2,
 5,
 4,
 8,
 5,
 4,
 1,
 6,
 8,
 1,
 0,
 2,
 5,
 3,
 4,
 4,
 6,
 4,
 6,
 2,
 5,
 1,
 4,
 4,
 8,
 4,
 0,
 1,
 2,
 6,
 11,
 1,
 0,
 13,
 7,
 0,
 4,
 1,
 2,
 5,
 8,
 3,
 0,
 6,
 3,
 9,
 1,
 3,
 4,
 1,
 1,
 1,
 3,
 1,
 0,
 2,
 8,
 2,
 2,
 2,
 7,
 1,
 0,
 6,
 9,
 13,
 13,
 3,
 0,
 4,
 10,
 11,
 4,
 7,
 3,
 5,
 5,
 1,
 ...]

In [22]:
#Adding punctuation length column to dataframe
data["Punctuation"]=punct

## Text Cleaning

In [23]:
#Regex
import re

#Stopwords
from nltk.corpus import stopwords

#Lemmatization
from nltk.stem import WordNetLemmatizer
#Creating object for Lemmatizer
lemmatizer = WordNetLemmatizer()

In [24]:
#Removal of extra characters and stop words and lemmatization
corpus = []

#Skipping the 0th index (it's of Label)
for i in range(0,len(data)):
    words = re.sub('[^a-zA-Z]',' ',data['message'][i])
    words = words.lower()
    #Splits into list of words 
    words = words.split()
    
    #Lemmatizing the word and removing the stopwords
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    
    #Again join words to form sentences
    words = ' '.join(words)
    
    corpus.append(words)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\thdar/nltk_data'
    - 'C:\\Users\\thdar\\anaconda3\\nltk_data'
    - 'C:\\Users\\thdar\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\thdar\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\thdar\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
corpus[0]

In [ ]:
#Replacing Original Message with the Transformed Messages
data['message'] = corpus

In [4]:
data.head()

NameError: name 'data' is not defined

# Analyzing the difference between Spam and Ham messages

In [ ]:
spam_messages = messages[messages['Label'] == 'spam']
ham_messages = messages[messages['Label'] == 'ham']

In [ ]:
spam_messages.head()

In [ ]:
ham_messages.head()

In [ ]:
spam_messages['Length'].mean()

In [ ]:
ham_messages['Length'].mean()

We can see that Spam messages have more average words than Ham messages

# Model Building

In [ ]:
X = data['message']
y = data['label']

#### Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 0.33, random_state = 42)
X_train.head()

### Demonstration of Count Vectorizer
(Bag of Words)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect=CountVectorizer()
X_train_count_vect=count_vect.fit_transform(X_train).toarray()
X_train_count_vect

In [ ]:
# 3733 are the sentences and 5772 are the words in total sentences
X_train_count_vect.shape

#### Note:-
There might be that, some words in 5772 words are not frequently present and are just appearing 1-2 times, we can reduce them using cv = CountVectorizer(max_features = 4000) (an approach)

This will only take 4000 words leading to coming of most frequent words

We can change the max_features, according to what we want

## Demonstration of TF-IDF Vectorizer
(Term Frequency - Inverse Document Frequency)

CountVectorizer(Bag of Words) + TFIDF Transformer, Scikit-Learn has provided with a method of TFIDF vectorizer (combining two steps into one)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X_train_tfidf_vect=count_vect.fit_transform(X_train).toarray()
X_train_tfidf_vect

NameError: name 'count_vect' is not defined

In [ ]:
X_train_tfidf_vect.shape

## Pipelining

We are doing pipelining as we need to perform the same procedures for the test data to get predictions, that may be tiresome.

However what convenient about this pipeline object is that it actually can perform all these steps for you in a single cell, that means you can directly provide the data and it will be both vectorized and run the classifier on it in a single step.

Pipeline takes list of tuple.

In [6]:
from sklearn.pipeline import Pipeline

## Naive Bayer Classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB
#each tuple takes the name you decide , next you call what you want to occur
text_mnb=Pipeline([('tfidf',TfidfVectorizer()),('mnb',MultinomialNB())])
#Now u can directly pass the X_train dataset.
text_mnb.fit(X_train,y_train)

In [ ]:
#It will take the X_test and do all the steps, vectorize it and predict it
y_preds_mnb=text_mnb.predict(X_test)
#Predictions of the test data
y_preds_mnb

In [ ]:
#Training score
text_mnb.score(X_train,y_train)

In [ ]:
#Testing score
text_mnb.score(X_test,y_test)

Evaluation Metrics

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_preds_mnb))

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_preds_mnb))

## SVM Classifier

In [ ]:
from sklearn.svm import LinearSVC
#each tuple takes the name you decide , next you call what you want to occur
text_svm=Pipeline([('tfidf',TfidfVectorizer()),('svm',LinearSVC())])
#Now u can directly pass the X_train dataset.
text_svm.fit(X_train,y_train)

In [ ]:
#It will take the X_test and do all the steps, vectorize it and predict it
y_preds_svm=text_svm.predict(X_test)
#Predictions of the test data
y_preds_svm

In [ ]:
#Training score
text_svm.score(X_train,y_train)

In [ ]:
#Testing score
text_svm.score(X_test,y_test)

#### Evaluation Metrics

In [7]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_preds_svm))

NameError: name 'y_test' is not defined

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_preds_svm))

## Prediciting on New SMS

In [ ]:
text = 'Congratulations, you have won a lottery of $5000. To Won Text on,555500 '
def refined_text(text):
    #Removal of extra characters and stop words
    words = re.sub('[^a-zA-Z]',' ',text)
    words = words.lower()
    #Splits into list of words 
    words = words.split()

    #Lemmatizing the word and removing the stopwords
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]

    #Again join words to form sentences
    words = ' '.join(words)
    return words

In [ ]:
refined_word = refined_text(text)
refined_word = [refined_word]
refined_word

In [ ]:
# Directly predicting the single message to the model
text_mnb.predict(refined_word)